<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trailsofcoldsteelcompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/trails"
        android:roundIcon="@mipmap/trails_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="Trails of Cold Steel Companion">
        <activity android:name=".VideoActivity"></activity>
        <activity android:name=".CodexActivity" />
        <activity android:name=".WalkthroughActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>